#main {
    margin-top: 100px;
    text-align: center;
}

#search {
    height: 50px;
    font-size: 1.4em;
}

#search::-webkit-input-placeholder {
    color: #ccc;
    font-style: italic;
    text-align: center;
    font-size: 0.9em;
    font-weight: 200;
}
#search:-moz-placeholder {
    color: #ccc;
    font-style: italic;
    text-align: center;
    font-size: 0.9em;
    font-weight: 200;
}